[fordrop]
verbose = false
daemon = false
jid = user@example.com
password = secret
server = xmpp.example.com
pubsub = pubsub.example.com
log = false
no_events = true
priority = -1
django = false
listen = false

[django]
user = django-user
api_key = key
base_url = http://127.0.0.1
verify_ssl = true

[client]
username = user
api-key = secret
base-url = http://127.0.0.1

[server]
jid = xmpp user
password = secret
server = xmpp.example.com
bind_address = 127.0.0.1
bind_port = 8080